body {
  font-size: 22px;
}

input[type="text"] {
  margin: 10px 0;
  display: block;
}

[v-cloak] {
  display: none;
}


.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  color: #fff;
}

.purple {
  background-color: purple;
}

.text-blue {
  color: blue;
}

.text-red {
  color: red;
}
