body {
  font-size: 22px;
}

input[type="text"] {
  margin: 10px 0;
  display: block;
}

[v-cloak] {
  display: none;
}

.purple {
  background-color: purple;
}

.text-blue {
  color: blue;
}

.text-red {
  color: red;
}
